/bin/
.gradle/
.idea/
/build/
/.settings/
/generated/
/run/
gradle*

# Class files
**/*.class
!libs-jmm/**/*.class

/test/pt/up/fe/comp/cpf/3_ollir/arithmetic/myTest.jmm
/test/pt/up/fe/comp/cp2/apps/example_ollir/Array.ollir

